.container{
    width: 100%;
    height: 100%;
    display: flex;
}
#element-with-background-image {
    // #2179b5 = rgba(33, 121, 181, 0.5)    #40c8f4 = rgba(64, 200, 244, 0.5)
    background-image:linear-gradient(rgba(33, 121, 181, 0.6), rgba(64, 200, 244, 0.6)), url("../../assets/img/bg.jpg");
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;   
    width: 80vh;
    height: 100vh;
}

.btn{
    background-color: #40c8f4;
    color: #ffffff;
    width: 17vw;
    border-radius: 25px;
}

.formDiv{
    width: 0px;
    overflow: hidden;
    margin-left: 5%;
}